<div class="page-wrapper">
  <div class="main-nav">
    <LinkTo class="main-nav__link" @route="index">Home</LinkTo>
    <LinkTo class="main-nav__link" @route="date-helper">Date Helper</LinkTo>
  </div>
  
  <div class="main-content">
    {{yield}}
  </div>
</div>

